@media screen and (max-width: 1199px) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .hidden-mobile{
        display: none !important;
    }
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    .sidebar {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 100; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #fff; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
      }
      
      /* The sidebar links */
      .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1.5rem;
        color: #000;
        display: block;
        z-index: 100; /* Stay on top */
        transition: 0.3s;
        font-weight: bold;
      }
      
      /* When you mouse over the navigation links, change their color */
      .sidebar a:hover {
        color: #f1f1f1;
        z-index: 100; /* Stay on top */
      }
      
      /* Position and style the close button (top right corner) */
      .sidebar .closebtn {
        position: absolute;
        top: 0;
        z-index: 100; /* Stay on top */
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      /* The button used to open the sidebar */
      .openbtn {
        font-size: 25px;
        cursor: pointer;
        background-color: #fff;
        color: gray;
        padding: 5px 5px;
        border: none;
        font-weight: bold;
        z-index: 100; /* Stay on top */
      }
      
      .openbtn:hover {
        background-color: white;
        z-index: 100; /* Stay on top */
      }
      
      /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
      #main {
        transition: margin-left .5s; /* If you want a transition effect */
        padding: 20px;
        z-index: 100; /* Stay on top */
      }
      .logo_position{
          margin-top: 5%;
          margin-bottom: 10%;
          zoom: 130%;
          margin-left: 12%;
      }
      .centering{
          display: flex;
          justify-content: center;
      }
      .resizeimg{
        zoom:45%;
        margin-top: -10%;
        z-index: 1;
    }
    .main-text{
        text-align: center;
        margin-top: 3%;
        font-size: 2.2rem !important;
        font-weight: bold;
        /*font-family: 'rubik';*/
        z-index: 1;
    }
    .submain-text{
        text-align: center;
        font-size: 1.3rem !important;
        /*font-family: 'rubik';*/
        z-index: 1;
    }
    .link-text{
        text-align: center;
        font-size: 1.2rem !important;
        /*font-family: 'rubik';*/
        z-index: 1;
        color:black;
    }
    .resize-mainimg{
        margin-top:-35%;
        width: 100vw;
    }
    .blue-card-mobile{
        background-color: #180A25 !important;
        border-radius: 25px;
        z-index: 1;
        margin-top: -10%;

    }
    .baner-text{
        font-size: 5vw;
        padding-top: 6vh;
        color: #fff;
        /*font-family: 'rubik';*/
        font-weight: bold;
    }
    .baner-subtext{
        text-align: center;
        font-size: 2.8vw;
        margin-top: 2%;
        /*font-family: 'rubik';*/
        color:white;
        padding-bottom: 6vh;
    }
    .resize-muvitbg{
        width: 100vw;
        height: auto;
        z-index: 2;
        margin-top: -18%;
    }
    .white-card-mobile{
        background-color: #fff !important;
        border-radius: 25px;
        padding-top: 5vh;
        border: 2px solid #dee2e6!important;
        margin-top:4vh;
    }
    .carousel-index{
        z-index: 100;
        margin-top: -15%;
    }
    .card-text{
        font-size: 2rem;
        color: #180A25;
        /*font-family: 'rubik';*/
        font-weight: bold;
        text-decoration: underline;
        padding-bottom: 5vh;
    }
    .card-text2{
        font-size: 1.3rem;
        color: #180A25;
        /*font-family: 'rubik';*/
        font-weight: bold;
        padding-bottom: 5vh;
    }
    .card-text3{
        font-size: 1.3rem;
        color: #FF056F;
        /*font-family: 'rubik';*/
        font-weight: bold;
        padding-bottom: 5vh;
        margin-top: 2vh;
        text-align: center;
    }
    .card-text4{
        font-size: 1rem;
        color: #180A25;
        /*font-family: 'rubik';*/
        font-weight: bold;
        padding-bottom: 5vh;
        margin-top: 2vh;
        text-align: center;
    }
    .btn-card{
        background:linear-gradient(71deg,#FFA300,#FF056F,#C01DBF) !important;
        font-size: 1.5rem !important;
        border-radius: 30px !important;
        color: #FFF !important;
        padding-top: 2vh !important;
        padding-bottom: 2vh !important;
        padding-left: 3vw !important;
        padding-right: 3vw !important;
        z-index: 20000 !important;
        margin-top: 0vh;
        margin-bottom: 0vh;
    }
    .info-emergency{
        background-color: #FF056F;
        border-radius: 15px !important;
        border-color: #FF056F !important;
        color:#FFF !important;
        font-size: 20px !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency-light{
        background-color: white;
        border-radius: 2.5vw !important;
        border-color: #FF056F !important;
        color:#FF056F !important;
        font-size: 20px !important;
        border:1px solid !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency-purple{
        background-color: #C01DBF;
        border-radius: 2.5vw !important;
        border-color: #C01DBF !important;
        color:#FFF !important;
        font-size: 20px !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency-purple-light{
        background-color: white;
        border-radius: 2.5vw !important;
        border-color: #C01DBF !important;
        color:#C01DBF !important;
        font-size: 20px !important;
        border:1px solid !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency2{
        background-color: #C01DBF;
        border-radius: 15px !important;
        border-color: #C01DBF !important;
        color:#FFF !important;
        font-size: 20px !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency2-light{
        background-color: white;
        border-radius: 15px !important;
        border-color: #C01DBF !important;
        color:#C01DBF !important;
        font-size: 20px !important;
        border:1px solid !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .description-text{
        /*font-family: 'rubik';*/
        font-size: 0.71rem;
    }
    .description-text2{
        /*font-family: 'rubik';*/
        font-size: 0.71rem;
    }
    .description-text3{
        /*font-family: 'rubik';*/
        font-size: 0.71rem;
    }
    .description-price-text{
        /*font-family: 'rubik';*/
        font-size: 0.95rem;
    }
    .description-price-text2{
        /*font-family: 'rubik';*/
        font-size: 0.95rem;
    }
    .description-price-text3{
        /*font-family: 'rubik';*/
        font-size: 0.95rem;
    }
    .text-banner{
        line-height: 2vw;
        margin-left: 8vw;
        margin-top: -2.5vw;
    }
    .white-Price{
        color: #FFF;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 0.6rem;
        display: block;
        /*font-family: 'rubik';*/
      }
      .pink-Price{
        color: #FF056F;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 0.6rem;
        display: block;
      }
      .purple-Price{
        color: #C01DBF;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 0.6rem;
        display: block;
      }
    .yellow-letter{
        color : #FFA300;
        font-weight: bold;
        /*font-family: 'rubik';*/
        font-size: 2.5rem;
        line-height: 120%;
    }
    .purple-letter{
        color : #C01DBF;
        font-weight: bold;
        /*font-family: 'rubik';*/
        font-size: 2.5rem;
        line-height: 120%;
    }
    .pink-letter{
        color : #FF056F;
        font-weight: bold;
        /*font-family: 'rubik';*/
        font-size: 2.5rem;
        line-height: 120%;
    }
    .adquire-text{
        font-size: 1.7rem;
        /*font-family: 'rubik';*/
    }
    .info-button{
        background-color: white;
        border-radius: 30px !important;
        border-color: #C01DBF !important;
        color:#C01DBF !important;
        font-size: 30px !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 13vh;
    }
    .info-text-button{
        color: #C01DBF !important;
        font-size: 30px;
        font-style: normal;
    }
    .info-text-button:hover{
        color: #C01DBF !important;
        font-size: 30px;
        font-style: normal;
    }
    .info-button:disabled{
        background-color: white;
        border-radius: 30px !important;
        border-color: #C01DBF !important;
        color:#C01DBF !important;
        font-size: 30px !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .gray-card-mobile{
        background-color: #919191 !important;
        border-radius: 0 px;
        z-index: 1;
    }
    .resize-foot{
        zoom: 50%;
        margin-top: 5%;
        padding-bottom: 6vh;
    }
    .divider-hr{
        border-color: white;
        width: 108%;
        display: flex;
        justify-content: left !important;
        margin-left: -4%;
    }

    .vertical-list{
        display: block; /* Make the links appear below each other */
        padding: 12px; 
        text-decoration: none;
        justify-content: center;
        text-align: center;
        
    }
    .link-white{
        color: white !important;
        font-size: 2.3vh;
    }
    .semicircle-decorator{
        zoom: 30%;
        display: flex;
        justify-content: right;
    }
    .to-right{
        display: flex;
        justify-content: right;
        margin-top: -5%;
        margin-bottom: -5%;
    }
}
}



@media screen and (min-width: 1200px) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .hidden-desktop{
        display: none !important;
    }
    .main {
        padding: 20px;
        /* background: transparent url('assets/imgheader.png') 0% 0% no-repeat padding-box; */
        /* margin-left: 50px; */
    }
    .container-style{
        display: flex;
        justify-content: space-around;
    }
    .imagelogo{
        width: 2.75vw;
        height: auto;
        margin-top: 0.5vh;
    }
    .links-size{
        font-size: 0.95vw !important;
    }
    .fixed-img{

    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    }
    .resized2{
        width: 45vw
    }
    .navbar-nav {
        margin-left: 10px;
        z-index: 100;
    }
    .navbar-nav a {
        font-size:  15px;
        color: #180A25;
        margin-left: 20px;
        /*font-family: 'rubik';*/
    }
    .logo_position{
        margin-top: 5%;
        margin-bottom: 10%;
        zoom: 120%;
    }
    .centering{
        z-index: 1;
        display: flex;
        justify-content: center;
    }
    .centering2{
        z-index: 3;
        display: flex;
        justify-content: center;
    }
    .fringe-left{
        z-index: 1;
        display: flex;
        justify-content: left;
    }
    .resize-mainimg{
        right: 0;
        /* margin-top:-35%; */
        margin-top: -27vh;
        object-fit: cover;
        position: absolute;
        flex-direction: column;
        align-items: center;
        display: flex;
        width: 55%; 
        transform: translate(0, 215px);
    }
    .resizeimg{
        width: 25vw;
        height: auto;
      margin-top: 10%;
      object-fit: cover;
      z-index: 1;
      margin-bottom: 10%;
  }
  .main-text{
      text-align: left;
      margin-top: 8%;
      font-size: 5vw !important;
      font-weight: bold;
      /*font-family: 'rubik';*/
      z-index: 1;
      color: #180A25;
  }
  .submain-text{
      /* text-align: center; */
      font-size: 1.8vw !important;
      /*font-family: 'rubik';*/
      z-index: 1;
      color: #180A25;
  }
  .link-text{
      text-align: center;
      font-size: 1vw !important;
      /*font-family: 'rubik';*/
      z-index: 1;
      color: #180A25;
  }
  .blue-card-desktop{
      background-color: #180A25 !important;
      border-radius: 25px;
      z-index: 2;
      margin-top: 6%; 
      padding-top: 3vh;
      padding-bottom: 3vh;
  }
  .zindex-for-div{
    z-index: 3;
  }
  .baner-text{
      font-size: 3vw;
      padding-top: 4.5vh;
      color: #fff;
      /*font-family: 'rubik';*/
      font-weight: bold;
      z-index: 3;
      text-align: center;
  }
  .baner-subtext{
      text-align: center;
      font-size: 1.8vw;
      /* margin-top: 2%; */
      /*font-family: 'rubik';*/
      color:white;
      padding-top: 4vh;
      padding-bottom: 3vh;
      z-index: 3;
  }
  .white-card-desktop{
        background-color: #fff !important;
        border-radius: 25px;
        padding-top: 5vh;
        border: 2px solid #dee2e6!important;
        position:absolute;
        top:10vh;
        z-index:301;
        -webkit-box-shadow: 3px 8px 15px -9px #000000; 
        box-shadow: 3px 8px 15px -9px #000000;
    }
    .info-emergency{
        background-color: #FF056F;
        border-radius: 15px !important;
        border-color: #FF056F !important;
        color:#FFF !important;
        font-size: 1.5vw !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
        /*font-family: 'rubik';*/
        
    }
    .info-emergency-light{
        background-color: white;
        border-radius: 15px !important;
        border-color: #FF056F !important;
        color:#FF056F !important;
        font-size: 1.5vw !important;
        border:1px solid !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency-purple{
        background-color: #C01DBF;
        border-radius: 15px !important;
        border-color: #C01DBF !important;
        color:#FFF !important;
        font-size: 1.5vw !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency-purple-light{
        background-color: white;
        border-radius: 15px !important;
        border-color: #C01DBF !important;
        color:#C01DBF !important;
        font-size: 1.5vw !important;
        border:1px solid !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency2{
        background-color: #C01DBF;
        border-radius: 15px !important;
        border-color: #C01DBF !important;
        color:#FFF !important;
        font-size: 1.5vw !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency2-light{
        background-color: white;
        border-radius: 15px !important;
        border-color: #C01DBF !important;
        color:#C01DBF !important;
        font-size: 1.5vw !important;
        border:1px solid !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .white-Price{
        color: #FFF;
        text-align: center;
        font-size: 1.5vw;
        margin-top: 0.9vw;
        display: block;
      }
      .purple-Price{
        color: #C01DBF;
        text-align: center;
        font-size: 1.5vw;
        margin-top: 0.9vw;
        display: block;
      }
      .pink-Price{
        color: #FF056F;
        text-align: center;
        font-size: 1.5vw;
        margin-top: 0.9vw;
        display: block;
      }
      .resize-muvitbg{
        z-index: 300;
        margin-top: -8%;
        width: 100%;
        height: auto;
        margin-bottom: -28%;
      }
      .card-text{
        font-size: 2vw;
        color: #180A25;
        /*font-family: 'rubik';*/
        font-weight: bold;
        text-decoration: underline;
        padding-bottom: 5vh;
    }
    .card-text2{
        font-size: 1.25vw;
        color: #180A25;
        /*font-family: 'rubik';*/
        font-weight: bold;
        padding-bottom: 5vh;
    }
    .card-text3{
        font-size: 1.25vw;
        color: #FF056F;
        /*font-family: 'rubik';*/
        font-weight: bold;
        padding-bottom: 5vh;
        margin-top: 2vh;
        text-align: center;
    }
    .card-text4{
        font-size: 1.1vw;
        color: #180A25;
        /*font-family: 'rubik';*/
        font-weight: bold;
        padding-bottom: 5vh;
        margin-top: 2vh;
        text-align: center;
    }
    .btn-card{
        background:linear-gradient(71deg,#FFA300,#FF056F,#C01DBF) !important;
        font-size: 1.3vw !important;
        border-radius: 30px !important;
        color: #FFF !important;
        padding-top: 2vh !important;
        padding-bottom: 2vh !important;
        padding-left: 3vw !important;
        padding-right: 3vw !important;
        z-index: 20000 !important;
        margin-top: 0vh;
        margin-bottom: -3vh;
    }
    .description-text{
        /*font-family: 'rubik';*/
        font-size: 1.05vw;
    }
    .description-text2{
        /*font-family: 'rubik';*/
        font-size: 1.05vw;
    }
    .description-text3{
        /*font-family: 'rubik';*/
        font-size: 1.05vw;
    }
    .description-price-text{
        /*font-family: 'rubik';*/
        font-size: 1.15vw;
    }
    .description-price-text2{
        /*font-family: 'rubik';*/
        font-size: 1.15vw;
    }
    .description-price-text3{
        /*font-family: 'rubik';*/
        font-size: 1.15vw;
    }
  .yellow-letter{
      color : #FFA300;
      font-weight: bold;
      /*font-family: 'rubik';*/
      font-size: 5vw;
      line-height: 120%;
  }
  .purple-letter{
      color : #C01DBF;
      font-weight: bold;
      /*font-family: 'rubik';*/
      font-size: 5vw;
      line-height: 120%;
  }
  .pink-letter{
      color : #FF056F;
      font-weight: bold;
      /*font-family: 'rubik';*/
      font-size: 5vw;
      line-height: 120%;
  }
  .adquire-text{
      font-size: 2.7vw;
      /*font-family: 'rubik';*/
  }
  .info-button{
      background-color: white;
      border-radius: 23px !important;
      border-color: #C01DBF !important;
      color:#C01DBF !important;
      font-size: 2.7vw !important;
      padding-top: 1vh;
      padding-bottom: 1vh;
      margin-bottom: 13vh;
  }
  .info-button:disabled{
      background-color: white;
      border-radius: 23px !important;
      border-color: #C01DBF !important;
      color:#C01DBF !important;
      font-size: 2.7vw !important;
      padding-top: 1vh;
      padding-bottom: 1vh;
  }
  .gray-card-desktop{
      background-color: #919191 !important;
      border-radius: 0 px;
      z-index: 1;
  }
  .resize-foot{
      display: flex;
      align-items: center;
      zoom: 50%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40%;
      margin-bottom: 40%;
      width: 7.5vw;
      height: auto;
  }
  .resize-foot-right{
      zoom: 50%;
      padding-left: 5%;
      padding-right: 5%;
      margin-top: -1%;
      text-align: right;
      /* width: 19vw; */
      height: auto;
  }
  .divider-hr{
    border-left:    1px solid white;
    height:         100px;
    /* display: flex; */
    width:          1px; 
    /* justify-content: left !important; */
    /* margin-left: 16%; */
    /* margin-top: -9%; */
  }

  .bg-dark2{
    background-color: #919191 !important;
    border-radius: 0 px;
    z-index: 1;
  }

  .vertical-list{
      display: block;
      text-decoration: none;
      justify-content: center;
      text-align: center;
  }
  .spacer{
    padding-top: 2vh;
  }
  .link-white{
    align-items: center;    
    text-align: center;
    color: white !important;
    padding-left: 5%;
    font-size: 1.2vw;
  }
  .muvitresize{
      margin-top: -8vh;
  }
}
}
@media screen and (max-width: 1199px) and (-webkit-min-device-pixel-ratio:0){
    .hidden-mobile{
        display: none !important;
    }
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    .sidebar {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 100; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #fff; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
      }
      
      /* The sidebar links */
      .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1.5rem;
        color: #000;
        display: block;
        z-index: 100; /* Stay on top */
        transition: 0.3s;
        font-weight: bold;
      }
      
      /* When you mouse over the navigation links, change their color */
      .sidebar a:hover {
        color: #f1f1f1;
        z-index: 100; /* Stay on top */
      }
      
      /* Position and style the close button (top right corner) */
      .sidebar .closebtn {
        position: absolute;
        top: 0;
        z-index: 100; /* Stay on top */
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      /* The button used to open the sidebar */
      .openbtn {
        font-size: 25px;
        cursor: pointer;
        background-color: #fff;
        color: gray;
        padding: 5px 5px;
        border: none;
        font-weight: bold;
        z-index: 100; /* Stay on top */
      }
      
      .openbtn:hover {
        background-color: white;
        z-index: 100; /* Stay on top */
      }
      
      /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
      #main {
        transition: margin-left .5s; /* If you want a transition effect */
        padding: 20px;
        z-index: 100; /* Stay on top */
      }
      .logo_position{
          margin-top: 5%;
          margin-bottom: 10%;
          zoom: 130%;
          margin-left: 12%;
      }
      .centering{
          display: flex;
          justify-content: center;
      }
      .resizeimg{
        zoom:45%;
        margin-top: -10%;
        z-index: 1;
    }
    .main-text{
        text-align: center;
        margin-top: 3%;
        font-size: 2.2rem !important;
        font-weight: bold;
        /*font-family: 'rubik';*/
        z-index: 1;
    }
    .submain-text{
        text-align: center;
        font-size: 1.3rem !important;
        /*font-family: 'rubik';*/
        z-index: 1;
    }
    .link-text{
        text-align: center;
        font-size: 1.2rem !important;
        /*font-family: 'rubik';*/
        z-index: 1;
        color:black;
    }
    .resize-mainimg{
        margin-top:-35%;
        width: 100vw;
    }
    .blue-card-mobile{
        background-color: #180A25 !important;
        border-radius: 25px;
        z-index: 1;
        margin-top: -10%;

    }
    .baner-text{
        font-size: 5vw;
        padding-top: 6vh;
        color: #fff;
        /*font-family: 'rubik';*/
        font-weight: bold;
    }
    .baner-subtext{
        text-align: center;
        font-size: 2.8vw;
        margin-top: 2%;
        /*font-family: 'rubik';*/
        color:white;
        padding-bottom: 6vh;
    }
    .resize-muvitbg{
        width: 100vw;
        height: auto;
        z-index: 2;
        margin-top: -18%;
    }
    .white-card-mobile{
        background-color: #fff !important;
        border-radius: 25px;
        padding-top: 5vh;
        border: 2px solid #dee2e6!important;
        margin-top:4vh;
    }
    .carousel-index{
        z-index: 100;
        margin-top: -15%;
    }
    .card-text{
        font-size: 2rem;
        color: #180A25;
        /*font-family: 'rubik';*/
        font-weight: bold;
        text-decoration: underline;
        padding-bottom: 5vh;
    }
    .card-text2{
        font-size: 1.3rem;
        color: #180A25;
        /*font-family: 'rubik';*/
        font-weight: bold;
        padding-bottom: 5vh;
    }
    .card-text3{
        font-size: 1.3rem;
        color: #FF056F;
        /*font-family: 'rubik';*/
        font-weight: bold;
        padding-bottom: 5vh;
        margin-top: 2vh;
        text-align: center;
    }
    .card-text4{
        font-size: 1rem;
        color: #180A25;
        /*font-family: 'rubik';*/
        font-weight: bold;
        padding-bottom: 5vh;
        margin-top: 2vh;
        text-align: center;
    }
    .btn-card{
        background:linear-gradient(71deg,#FFA300,#FF056F,#C01DBF) !important;
        font-size: 1.5rem !important;
        border-radius: 30px !important;
        color: #FFF !important;
        padding-top: 2vh !important;
        padding-bottom: 2vh !important;
        padding-left: 3vw !important;
        padding-right: 3vw !important;
        z-index: 20000 !important;
        margin-top: 0vh;
        margin-bottom: 0vh;
    }
    .info-emergency{
        background-color: #FF056F;
        border-radius: 15px !important;
        border-color: #FF056F !important;
        color:#FFF !important;
        font-size: 20px !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency-light{
        background-color: white;
        border-radius: 2.5vw !important;
        border-color: #FF056F !important;
        color:#FF056F !important;
        font-size: 20px !important;
        border:1px solid !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency-purple{
        background-color: #C01DBF;
        border-radius: 2.5vw !important;
        border-color: #C01DBF !important;
        color:#FFF !important;
        font-size: 20px !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency-purple-light{
        background-color: white;
        border-radius: 2.5vw !important;
        border-color: #C01DBF !important;
        color:#C01DBF !important;
        font-size: 20px !important;
        border:1px solid !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency2{
        background-color: #C01DBF;
        border-radius: 15px !important;
        border-color: #C01DBF !important;
        color:#FFF !important;
        font-size: 20px !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency2-light{
        background-color: white;
        border-radius: 15px !important;
        border-color: #C01DBF !important;
        color:#C01DBF !important;
        font-size: 20px !important;
        border:1px solid !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .description-text{
        /*font-family: 'rubik';*/
        font-size: 0.71rem;
    }
    .description-text2{
        /*font-family: 'rubik';*/
        font-size: 0.71rem;
    }
    .description-text3{
        /*font-family: 'rubik';*/
        font-size: 0.71rem;
    }
    .description-price-text{
        /*font-family: 'rubik';*/
        font-size: 0.95rem;
    }
    .description-price-text2{
        /*font-family: 'rubik';*/
        font-size: 0.95rem;
    }
    .description-price-text3{
        /*font-family: 'rubik';*/
        font-size: 0.95rem;
    }
    .text-banner{
        line-height: 2vw;
        margin-left: 8vw;
        margin-top: -2.5vw;
    }
    .white-Price{
        color: #FFF;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 0.6rem;
        display: block;
        /*font-family: 'rubik';*/
      }
      .pink-Price{
        color: #FF056F;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 0.6rem;
        display: block;
      }
      .purple-Price{
        color: #C01DBF;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 0.6rem;
        display: block;
      }
    .yellow-letter{
        color : #FFA300;
        font-weight: bold;
        /*font-family: 'rubik';*/
        font-size: 2.5rem;
        line-height: 120%;
    }
    .purple-letter{
        color : #C01DBF;
        font-weight: bold;
        /*font-family: 'rubik';*/
        font-size: 2.5rem;
        line-height: 120%;
    }
    .pink-letter{
        color : #FF056F;
        font-weight: bold;
        /*font-family: 'rubik';*/
        font-size: 2.5rem;
        line-height: 120%;
    }
    .adquire-text{
        font-size: 1.7rem;
        /*font-family: 'rubik';*/
    }
    .info-button{
        background-color: white;
        border-radius: 30px !important;
        border-color: #C01DBF !important;
        color:#C01DBF !important;
        font-size: 30px !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 13vh;
    }
    .info-text-button{
        color: #C01DBF !important;
        font-size: 30px;
        font-style: normal;
    }
    .info-text-button:hover{
        color: #C01DBF !important;
        font-size: 30px;
        font-style: normal;
    }
    .info-button:disabled{
        background-color: white;
        border-radius: 30px !important;
        border-color: #C01DBF !important;
        color:#C01DBF !important;
        font-size: 30px !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .gray-card-mobile{
        background-color: #919191 !important;
        border-radius: 0 px;
        z-index: 1;
    }
    .resize-foot{
        zoom: 50%;
        margin-top: 5%;
        padding-bottom: 6vh;
    }
    .divider-hr{
        border-color: white;
        width: 108%;
        display: flex;
        justify-content: left !important;
        margin-left: -4%;
    }

    .vertical-list{
        display: block; /* Make the links appear below each other */
        padding: 12px; 
        text-decoration: none;
        justify-content: center;
        text-align: center;
        
    }
    .link-white{
        color: white !important;
        font-size: 2.3vh;
    }
    .semicircle-decorator{
        zoom: 30%;
        display: flex;
        justify-content: right;
    }
    .to-right{
        display: flex;
        justify-content: right;
        margin-top: -5%;
        margin-bottom: -5%;
    }
}



@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio:0) {
    .hidden-desktop{
        display: none !important;
    }
    .main {
        padding: 20px;
        /* background: transparent url('assets/imgheader.png') 0% 0% no-repeat padding-box; */
        /* margin-left: 50px; */
    }
    .container-style{
        display: flex;
        justify-content: space-around;
    }
    .imagelogo{
        width: 2.75vw;
        height: auto;
        margin-top: 0.5vh;
    }
    .links-size{
        font-size: 0.95vw !important;
    }
    .fixed-img{

    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    }
    .resized2{
        width: 45vw
    }
    .navbar-nav {
        margin-left: 10px;
        z-index: 100;
    }
    .navbar-nav a {
        font-size:  15px;
        color: #180A25;
        margin-left: 20px;
        /*font-family: 'rubik';*/
    }
    .logo_position{
        margin-top: 5%;
        margin-bottom: 10%;
        zoom: 120%;
    }
    .centering{
        z-index: 1;
        display: flex;
        justify-content: center;
    }
    .centering2{
        z-index: 3;
        display: flex;
        justify-content: center;
    }
    .fringe-left{
        z-index: 1;
        display: flex;
        justify-content: left;
    }
    .resize-mainimg{
        right: 0;
        /* margin-top:-35%; */
        margin-top: -27vh;
        object-fit: cover;
        position: absolute;
        flex-direction: column;
        align-items: center;
        display: flex;
        width: 55%; 
        transform: translate(0, 215px);
    }
    .resizeimg{
    width: 25vw;
    height: auto;
      margin-top: 10%;
      object-fit: cover;
      z-index: 1;
      margin-bottom: 5%;
  }
  .main-text{
      text-align: left;
      margin-top: 8%;
      font-size: 5vw !important;
      font-weight: bold;
      /*font-family: 'rubik';*/
      z-index: 1;
      color: #180A25;
  }
  .submain-text{
      /* text-align: center; */
      font-size: 1.8vw !important;
      /*font-family: 'rubik';*/
      z-index: 1;
      color: #180A25;
  }
  .link-text{
      text-align: center;
      font-size: 1vw !important;
      /*font-family: 'rubik';*/
      z-index: 1;
      color: #180A25;
  }
  .blue-card-desktop{
      background-color: #180A25 !important;
      border-radius: 25px;
      z-index: 2;
      margin-top: 6%; 
      padding-top: 3vh;
      padding-bottom: 3vh;
  }
  .zindex-for-div{
    z-index: 3;
  }
  .baner-text{
      font-size: 3vw;
      padding-top: 4.5vh;
      color: #fff;
      /*font-family: 'rubik';*/
      font-weight: bold;
      z-index: 3;
      text-align: center;
  }
  .baner-subtext{
      text-align: center;
      font-size: 1.8vw;
      /* margin-top: 2%; */
      /*font-family: 'rubik';*/
      color:white;
      padding-top: 4vh;
      padding-bottom: 3vh;
      z-index: 3;
  }
  .white-card-desktop{
        background-color: #fff !important;
        border-radius: 25px;
        padding-top: 5vh;
        border: 2px solid #dee2e6!important;
        position:absolute;
        top:10vh;
        z-index:301;
        -webkit-box-shadow: 3px 8px 15px -9px #000000; 
        box-shadow: 3px 8px 15px -9px #000000;
    }
    .info-emergency{
        background-color: #FF056F;
        border-radius: 15px !important;
        border-color: #FF056F !important;
        color:#FFF !important;
        font-size: 1.5vw !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
        /*font-family: 'rubik';*/
        
    }
    .info-emergency-light{
        background-color: white;
        border-radius: 15px !important;
        border-color: #FF056F !important;
        color:#FF056F !important;
        font-size: 1.5vw !important;
        border:1px solid !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency-purple{
        background-color: #C01DBF;
        border-radius: 15px !important;
        border-color: #C01DBF !important;
        color:#FFF !important;
        font-size: 1.5vw !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency-purple-light{
        background-color: white;
        border-radius: 15px !important;
        border-color: #C01DBF !important;
        color:#C01DBF !important;
        font-size: 1.5vw !important;
        border:1px solid !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency2{
        background-color: #C01DBF;
        border-radius: 15px !important;
        border-color: #C01DBF !important;
        color:#FFF !important;
        font-size: 1.5vw !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .info-emergency2-light{
        background-color: white;
        border-radius: 15px !important;
        border-color: #C01DBF !important;
        color:#C01DBF !important;
        font-size: 1.5vw !important;
        border:1px solid !important;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }
    .white-Price{
        color: #FFF;
        text-align: center;
        font-size: 1.5vw;
        margin-top: 0.9vw;
        display: block;
      }
      .purple-Price{
        color: #C01DBF;
        text-align: center;
        font-size: 1.5vw;
        margin-top: 0.9vw;
        display: block;
      }
      .pink-Price{
        color: #FF056F;
        text-align: center;
        font-size: 1.5vw;
        margin-top: 0.9vw;
        display: block;
      }
      .resize-muvitbg{
        z-index: 300;
        margin-top: -8%;
        width: 100%;
        height: auto;
        margin-bottom: -28%;
      }
      .card-text{
        font-size: 2vw;
        color: #180A25;
        /*font-family: 'rubik';*/
        font-weight: bold;
        text-decoration: underline;
        padding-bottom: 5vh;
    }
    .card-text2{
        font-size: 1.25vw;
        color: #180A25;
        /*font-family: 'rubik';*/
        font-weight: bold;
        padding-bottom: 5vh;
    }
    .card-text3{
        font-size: 1.25vw;
        color: #FF056F;
        /*font-family: 'rubik';*/
        font-weight: bold;
        padding-bottom: 5vh;
        margin-top: 2vh;
        text-align: center;
    }
    .card-text4{
        font-size: 1.1vw;
        color: #180A25;
        /*font-family: 'rubik';*/
        font-weight: bold;
        padding-bottom: 5vh;
        margin-top: 2vh;
        text-align: center;
    }
    .btn-card{
        background:linear-gradient(71deg,#FFA300,#FF056F,#C01DBF) !important;
        font-size: 1.3vw !important;
        border-radius: 30px !important;
        color: #FFF !important;
        padding-top: 2vh !important;
        padding-bottom: 2vh !important;
        padding-left: 3vw !important;
        padding-right: 3vw !important;
        z-index: 20000 !important;
        margin-top: 0vh;
        margin-bottom: -3vh;
    }
    .description-text{
        /*font-family: 'rubik';*/
        font-size: 1.05vw;
    }
    .description-text2{
        /*font-family: 'rubik';*/
        font-size: 1.05vw;
    }
    .description-text3{
        /*font-family: 'rubik';*/
        font-size: 1.05vw;
    }
    .description-price-text{
        /*font-family: 'rubik';*/
        font-size: 1.15vw;
    }
    .description-price-text2{
        /*font-family: 'rubik';*/
        font-size: 1.15vw;
    }
    .description-price-text3{
        /*font-family: 'rubik';*/
        font-size: 1.15vw;
    }
  .yellow-letter{
      color : #FFA300;
      font-weight: bold;
      /*font-family: 'rubik';*/
      font-size: 5vw;
      line-height: 120%;
  }
  .purple-letter{
      color : #C01DBF;
      font-weight: bold;
      /*font-family: 'rubik';*/
      font-size: 5vw;
      line-height: 120%;
  }
  .pink-letter{
      color : #FF056F;
      font-weight: bold;
      /*font-family: 'rubik';*/
      font-size: 5vw;
      line-height: 120%;
  }
  .adquire-text{
      font-size: 2.7vw;
      /*font-family: 'rubik';*/
  }
  .info-button{
      background-color: white;
      border-radius: 23px !important;
      border-color: #C01DBF !important;
      color:#C01DBF !important;
      font-size: 2.7vw !important;
      padding-top: 1vh;
      padding-bottom: 1vh;
      margin-bottom: 13vh;
  }
  .info-button:disabled{
      background-color: white;
      border-radius: 23px !important;
      border-color: #C01DBF !important;
      color:#C01DBF !important;
      font-size: 2.7vw !important;
      padding-top: 1vh;
      padding-bottom: 1vh;
  }
  .gray-card-desktop{
      background-color: #919191 !important;
      border-radius: 0 px;
      z-index: 1;
  }
  .resize-foot{
      display: flex;
      align-items: center;
      zoom: 50%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40%;
      margin-bottom: 40%;
      width: 7.5vw;
      height: auto;
  }
  .resize-foot-right{
      zoom: 50%;
      padding-left: 5%;
      padding-right: 5%;
      margin-top: -1%;
      text-align: right;
      /* width: 29vw; */
      height: auto;
  }
  .divider-hr{
    border-left:    1px solid white;
    height:         100px;
    /* display: flex; */
    width:          1px; 
    /* justify-content: left !important; */
    /* margin-left: 16%; */
    /* margin-top: -9%; */
  }

  .bg-dark2{
    background-color: #919191 !important;
    border-radius: 0 px;
    z-index: 1;
  }

  .vertical-list{
      display: block;
      text-decoration: none;
      justify-content: center;
      text-align: center;
  }
  .spacer{
    padding-top: 2vh;
  }
  .link-white{
    align-items: center;    
    text-align: center;
    color: white !important;
    padding-left: 5%;
    font-size: 1.2vw;
  }
  .muvitresize{
      margin-top: -8vh;
  }
}